.tit
{
    font-family: "Courier New", Courier, monospace;
    border-left: 6px solid #2f8eef;
    background-color: #9fceff;
    padding-left: 10px;
}
.hd
{
    width: 70%; 
    text-align: center;
    background-color: #303030;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
.eghd
{
	font-family: "Sofia", sans-serif;
}
